.meter {
  box-sizing: content-box;
  height: 40px; /* Can be anything */
  position: relative;
  background: #f9f7f4;
  border-radius: 25px;
  padding: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(
    center bottom,
    rgb(84, 240, 84) 37%,
    rgb(84, 240, 84) 69%
  );

  position: relative;
  overflow: hidden;
}
.meter > span:after,
.animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}
.meter-object{
position:absolute;
    z-index: 100;
    width: 200px;
    top:-40px;
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.orange > span {
  background-image: linear-gradient(#f5c1bb, #e2b1ab);
}

.red > span {
  background-image: linear-gradient(#f0a3a3, #f42323);
}

.nostripes > span > span,
.nostripes > span::after {
  background-image: none;
}
.bgdark{
  background-color: #162045;
      position: absolute;
      top:0;
      left:0;
      width: 100vw;
      height: 100vh;
      z-index: -1;
      overflow-x:hidden;
      overflow-y:hidden;
}

.counter{
    border:0;
    margin:0;
    text-align: center;
    color: white;
  background-color: #162045;
  margin-top:5%;
  margin-bottom:auto;
}
.counter-highlight{
color: #f5c1bb;
}
.counter-big{
font-size: 7rem;
}
.counter-medium{
    font-size: 5rem;
}
.counter-small{
    font-size: 3rem;
}
.counter-tiny{
    margin: 4rem 0;
    font-size: 1.5rem;
}
.counter-extra-tiny{
    margin: 4rem 0;
    font-size: 1rem;
}

@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(2deg);}
    50%{-webkit-transform: rotate(-2deg)}
    100%{-webkit-transform: rotate(2deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(2deg);}
    50%{transform: rotate(-2deg)}
    100%{transform: rotate(2deg);}
}
 #kimImage{
     width: 200px;
     top:-50px;
     position:absolute;
 }
.swingimage{
    -webkit-transform-origin: 25% 0;
    transform-origin: 25% 0;
    -webkit-animation: swinging 2.5s ease-in-out forwards infinite;
    animation: swinging 2.5s ease-in-out forwards infinite;
}

@font-face {
font-family: 'SequentialistBB';
		src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_1_0.woff2') format('woff2'),
		url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff') format('woff');
		font-style: normal;
		font-weight: 400;
}

.bubble {
	background: ivory;
	display: block;
	margin: 0 auto;
	border-radius: 20px;
	margin-top: 50px;
	font-size: 200px;
	text-align: center;
			font-family: 'SequentialistBB';
}



.pointer {
	height: 40px;
	width: 40px;
	background: ivory;
	margin: 0 auto;
	transform: rotate(45deg);
	border-radius: 0 0 12px 0;
	margin-top: -22px;
	position: relative;
	left: calc(0.5vw - 50px);
}

.blurred {
	background: gray;
	filter: blur(20px);
	position: relative;
	top: -315px;
/* 	transform: scale(1.05); */
	z-index: -1;
}
