body{
    background-color:#f3f3f5;
    margin:0;
    padding:0;
    margin-left:140px;
    margin-right:140px;
}
.main-container{
}
.main-container-wide{
 padding:2rem;

    max-width: 1200px;
}
.background-logo{
    margin-top: 2rem;
background-size: cover;
}
.ghost{
    opacity: 0.5;
}
.legend{
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 0.8rem;
}
.signup-legend{
    color:#1b264f;
    
}
.attendee-legend{
    color: #f5c1bb
}
.stats-left{
    background-color: lightgray;
    
}
.stats-container{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
}
.gold{
    color: #ffcd38;
}
.webinar-status-bar{
    color:black;
    padding: 1rem;
}
.webinar-instance{
    cursor: pointer;
    margin: 0.5rem 0;
}
.webinar-instance:hover{
    color: #ffcd38;
    transition: 0.5s;
}
.coma-button{
    display:inline-block;
    background-color: #1b264f;
    color: #f5c1bb;;
    min-width: 10rem;
    padding: 1rem;
    cursor:pointer;
    border:none;
    font-size:1rem;
    font-weight: bold;
}
.mainbody{
    margin-left:auto;
    margin-right:auto;
        max-width: 1200px;
}
.mainbody-alt{
}

nav{
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;
    top:0;
    left:0;
    width:120px;
    height: 100vh;
    background-color: #1b264f;
    display:flex;
    z-index:10;
    flex-direction:column;
    justify-content:center;
}
.hidephones{
text-align:right;
}
.nav-item{
            color: white;
    font-size: 2rem;
    letter-spacing: -3px;
    background-color: #1b264f;
    width: 120px;
    height: 120px;
    text-align:center;
    display:flex;
    flex-wrap:nowrap;
    flex-shrink: 1;
    justify-content:center;
      align-items: center;
          border: solid transparent;
    border-radius: 50%;
    align-content:center;
}
.nav-item-active{
    border: solid #f5c1bb;
    border-radius: 50%;
}
a, a:active, a:hover{
        text-decoration:none;
}
.action-button{
    cursor:pointer;
    font-size: 1.4rem;
    color: white;
    border-color: #34c584;;
    background-color: #34c584;
    border-radius: 5px;
    min-width: 8rem;
    min-height: 8rem;
}
.action-button:hover{
    background-color: #2dd389;
    transition: 0.5s;
}
.tg{
    text-align:left;
        font-weight:normal;
}
.tg-1lax{
    padding: 0 1rem;
}
.bold{
    font-weight:bold;
}
th{
    font-weight:normal;
}
.tg-true{
    color:#2E8B57;
    background-color: #9ACD32;
}
.tg-false{
    color: #800000;
    background-color: #CD5C5C;
}
.tg-true-light{
    color:#2E8B57;
}
.tg-false-light{
    color: #800000;
}
.message{
    display:block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    max-width: 600px;
    margin-left: auto;
    margin-right:auto;
}
.message-note{
    background-color: #fffaeb;
    outline: 1px solid #ffcd38;
}
.message-guide{
    background-color: #ebfff6;
    outline: 1px solid #34c584;
}
.message-warning{
    background-color: #ffeceb;
    outline: 1px solid #fe4039;
}
.message-header{
    display:block;
    font-size:2rem;
    opacity: 0.3;
}
.message-body{
        display:block;
}
.message-divider{
    width:100%;
    margin: 6px 0;
    height:1px;
}
.message-divider-green{
    background-color: #34c584;
}
.message-divider-red{
    background-color: #fe4039;
}
.message-divider-yellow{
        background-color: #ffcd38;
}