﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
<table width="100%">
    <tr bgcolor="#E4E4E4">
        <th style="padding-left:20px;">
            FoodIem
        </th>
        <th style="padding-left:20px;">
            Quantity
        </th>
        <th style="padding-left:20px;">
            Price
        </th>
        <th></th>
    </tr>
    @{
        int i = 0;
        string k;
    }
    @foreach (var item in Model)
    {
        @item.occurrence_id
    }
    <tr bgcolor="#E4E4E4"><td></td><td></td><td></td><td></td></tr>
</table>