﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var nav = Umbraco.ContentAtRoot().FirstOrDefault()
        .Children()
        .Where(x => x.IsVisible());
    string navBan = "/media/swatbanner.png";
    if(Model == null)
    {

    }
    else {
        var navBanner = Model.Root().Value<IPublishedContent>("navigationBanner");
        if (navBanner == null)
        {

        }
        else {
            navBan = navBanner.Url();
        }
    }
}

    <nav style="background-image: url('@navBan')">
        <a href="/">
            <div class="nav-item @(Request.Url.PathAndQuery == "/" ? "nav-item-active" : null)">
                Home
            </div>
        </a>
        @foreach (var item in nav)
        {
            if (Model == null)
            {
                <a href="@item.Url">
                    <div class="nav-item">
                        @item.Name
                    </div>
                </a>
            }
            else
            {
                <a href="@item.Url">
                    <div class="nav-item @(item.IsAncestorOrSelf(Model) ? "nav-item-active" : null)">
                        @item.Name
                    </div>
                </a>
            }
        }
    </nav>