﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}
<head>
    <title>Webtopus</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
@Html.Partial("Navigation")
<div class="mainbody-alt">
    
@RenderBody()
</div>
</body>