﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ControlPanel>
@using ContentModels = Umbraco.Web.PublishedModels;
@using CS.Controllers

@{
    Layout = "_Master.cshtml";
    var allWebinars = Umbraco.ContentAtRoot().FirstOrDefault().ChildrenOfType("webinarType").OrderBy(x => x.Value("date"));
    
    string logoUrl= "";
    if(Model != null){
        var logo = Model.Root().Value<IPublishedContent>("bodyOverlay");
        if(logo == null)
        {

        }
        else
        {
            logoUrl = logo.Url();
        }

    }

}
<div class="background-logo" style="background-color: #ffffff;padding-bottom: 2rem;padding-top: 2rem;background-image:url('@logoUrl')">
<section class="main-container">
<h1 style="text-align:center;">Webinar Tool Control Panel</h1>
<br/>

<div style="display: flex; justify-content: center;">
    
    <div style="margin-right: 1rem">
        <div style="text-align:center;">Get the latest webinar for:</div>
    <div style="display: flex; justify-content: center; flex-wrap:wrap;">
    @foreach(var webinarType in allWebinars){
    var wid = webinarType.Value("webinarid");
    var wname = webinarType.Name;
    <button class="action-button" onclick = "location.href='@Url.Action("GetWebinar", "Home", new { target = wid, type = wname })'">@wname</button>
    }


</div>
</div>


<div>
          <hr/>
      @foreach(var webinars in allWebinars){
      
            foreach(var webinar in webinars.Children()){
          <a href="@webinar.Url">@webinar.Name.Replace("Heart", "♥")</a>
        <br/>  
      }
      <hr/>
      }
</div>

</section>
<section class="message message-guide">
    <div class="message-header">Guide</div>
    <div class="message-divider message-divider-green"></div>
    <div class="message-body">
        Click on one of the above square buttons to generate a webinar report on the website. Then, navigate to the report you generated - from there you can send data to the specific webinar excel as a report, and add leads to the other excel sheet.
    </div>
</section>
                    <section class="message message-note">
    <div class="message-header">Note</div>
    <div class="message-divider message-divider-yellow"></div>
    <div class="message-body">
        Reminder: if the ZOOM API fails with an unspecified error the API key might have expired.
    </div>
</section>
<section class="message message-warning">
    <div class="message-header">Warning</div>
    <div class="message-divider message-divider-red"></div>
    <div class="message-body">
        It is currently not possible to get participant/registrant Country via the ZOOM Api. It is a limitation on the API side - so be aware of that. 
    </div>
    </section>
    </div>