﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
<ContentModels.Counter>
@using ContentModels = Umbraco.Web.PublishedModels;
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/scripts/howler.min.js"></script>
<script src="/scripts/party.min.js"></script>
<link rel="stylesheet" href="/css/meter.css">
@{
Layout = "_MasterAlt.cshtml";
// int percentage = int.Parse(ViewBag.CurrentResult) / int.Parse(ViewBag.PlannedResult);
//<p class="counter-big"><span id="currentResult" class="counter-highlight">  </span>/ <span  id = "plannedResult"></span></p>
decimal percentage = 0;
string cssPercent = "";
string imgSource = "/img/kim1.png";
}
<div class="bgdark">
   <section class="counter">
      <h1 class="counter-highlight counter-big">vNext migration counter</h1>
      <br/>
      <h2 class="counter-small">Today's migrated sites:</h2>
      <p class="counter-big"><span id="currentResult" class="counter-highlight">  </span>/ <span  id = "plannedResult"></span></p>
      @if(ViewBag.KimPic != null){
      imgSource= ViewBag.KimPic;
      }
      <h2 class="counter-medium"><span id="percentageResult" class="counter-highlight"></span>% of today's goal!*</h2>
      <div id="nonEligibleRemark" class="counter-extra-tiny"> *Not counting Heartcore, Uno and failed migrations</div>
      <button id="getData" style="display:none" onclick="location.href='@Url.Action("Counter", "Home")'">Test</button>
      <p class="counter-tiny">Kim's happiness meter:</p>
      <section>
</section>
      <div class="meter orange nostripes">
         <span id="kimMeter" style="width: 1%"></span><img id="kimImage" class="swingimage" style="left:1%" src="@imgSource" class="meter-object"></img>
      </div>
      
      <div id="redBlock" style="display:none;position:absolute;right:0px;bottom:0px"><blockquote style="width:210px; height: 120px" class="bubble"><p style="z-index:1000;color:black;font-size:1.7rem;padding-top:1rem">There are <em style='color:red'  id="redState"></em>  reddish projects.</p></blockquote>	<div class="pointer"></div>
      <img style="width:250px" id="kimsad" src="/img/kimSad.png"/> </div>
      <div class="counter-tiny"> Time until next fetch: <span id="mycounter"></span></div>
      <button id="authorize_button">Authorize</button>
      <button id="signout_button">Sign Out</button>
      <pre id="content" style="white-space: pre-wrap;"></pre>
      <h1 style="display:none">TEST</h1>
      <script type="text/javascript">$(".meter > span").each(function () {
         $(this)
           .data("origWidth", $(this).width())
           .width(0)
           .animate(
             {
               width: $(this).data("origWidth")
             },
             1200
           );
         });
         
                  function spiceMustFlow(){
                      console.log("spice time");
                           //  party.confetti(document.getElementById("percentageResult"));
                party.sparkles(document.getElementById("nonEligibleRemark"));
                party.sparkles(document.getElementById("kimImage"));
                    party.confetti(document.getElementById("kimsad"));
         }
                     var percent = 0;
           function confettiCheck(){
            /* setInterval(function() {
                  console.log(percent);
             if(percent > 90){
                 spiceMustFlow();
                 confettiCheck();
             }else{
                 confettiCheck();
             }
             }, 10000)*/
         }
         
         
         time = 120;
         function onTimer() {
         document.getElementById('mycounter').innerHTML = time;
         time = time - 1;
         if (time < 0) {
             listMajors();
             time = 120;
             onTimer();
         }
         else {
           setTimeout(onTimer, 1000);
         }
         }
         window.onload= onTimer();
         //window.onLoad = confettiCheck();
         var previousRecord = 0;
         //window.onload = handleClientLoad();
         //setTimeout(1000);
         //window.onload = $('#authorize_button').click();
         
      </script>
      <!--Add buttons to initiate auth sequence and sign out-->
      <button id="authorize_button" style="position: absolute; left:0; top:0;display: none;">Authorize</button>
      <button id="signout_button" style="position: absolute; left:0; top:0;display: none;">Sign Out</button>
      <pre id="content" style="white-space: pre-wrap;"></pre>
      <script type="text/javascript">
         // Client ID and API key from the Developer Console
         var CLIENT_ID = '1051881371711-b37mfv607uq19lidddt5og0f85r47ea1.apps.googleusercontent.com';
         var API_KEY = 'AIzaSyAt95AJ1TShvZFuNZEuMkbEE099PQjFfPM';
         let redState = 0;
         // Array of API discovery doc URLs for APIs used by the quickstart
         var DISCOVERY_DOCS = ["https://sheets.googleapis.com/$discovery/rest?version=v4"];
         // Authorization scopes required by the API; multiple scopes can be
         // included, separated by spaces.
         var SCOPES = "https://www.googleapis.com/auth/spreadsheets";
         
         var authorizeButton = document.getElementById('authorize_button');
         var signoutButton = document.getElementById('signout_button');
         
         /**
          *  On load, called to load the auth2 library and API client library.
          */
         function handleClientLoad() {
           gapi.load('client:auth2', initClient);
         }
         
         /**
          *  Initializes the API client library and sets up sign-in state
          *  listeners.
          */
         function initClient() {
             var todayDate="";
           gapi.client.init({
             apiKey: API_KEY,
             clientId: CLIENT_ID,
             discoveryDocs: DISCOVERY_DOCS,
             scope: SCOPES
           }).then(function () {
             // Listen for sign-in state changes.
             gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);
           
             // Handle the initial sign-in state.
             updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
             handleAuthClick();
             authorizeButton.onclick = handleAuthClick;
             signoutButton.onclick = handleSignoutClick;
           }, function(error) {
             appendPre(JSON.stringify(error, null, 2));
           });
         }
         
         /**
          *  Called when the signed in status changes, to update the UI
          *  appropriately. After a sign-in, the API is called.
          */
         function updateSigninStatus(isSignedIn) {
           if (isSignedIn) {
             authorizeButton.style.display = 'none';
             signoutButton.style.display = 'block';
             listMajors();
           } else {
             authorizeButton.style.display = 'block';
             signoutButton.style.display = 'none';
           }
         }
         
         /**
          *  Sign in the user upon button click.
          */
         function handleAuthClick(event) {
           gapi.auth2.getAuthInstance().signIn();
         }
         
         /**
          *  Sign out the user upon button click.
          */
         function handleSignoutClick(event) {
           gapi.auth2.getAuthInstance().signOut();
         }
         
       
         
         function appendItem1(message) {
           document.getElementById("currentResult").textContent=message;
         }
               function appendItem2(message) {
           document.getElementById("plannedResult").textContent=message;
         }
               function appendItem3(message) {
           document.getElementById("percentageResult").textContent=message;
         }
         
         function appendPre(message) {
           var pre = document.getElementById('content');
           var textContent = document.createTextNode(message + '\n');
           pre.appendChild(textContent);
         }
         
               function getTotalProjects() {
                     gapi.client.sheets.spreadsheets.values.get({
             spreadsheetId: '1T2cPs9d6i5tAerI-2NkMFS-n7fki6cGD1W4v-qTsKl8',
             
             range: todayDate,
           }).then(function(response) {
             var range = response.result;})
         }
         function checkTotal(){
             gapi.client.sheets.spreadsheets.get({
             spreadsheetId: '1T2cPs9d6i5tAerI-2NkMFS-n7fki6cGD1W4v-qTsKl8'
           }).then(function(response) {
           }
                    )
           }
             
         function checkBad(){
             redState = 0;
             gapi.client.sheets.spreadsheets.get({
             spreadsheetId: '1T2cPs9d6i5tAerI-2NkMFS-n7fki6cGD1W4v-qTsKl8',
             includeGridData: true,
             ranges: [todayDate]
         
           }).then(function(response) {
              //console.log("rows: "+response.result.sheets[0].data[0].rowData.length);
               for (i = 0; i < response.result.sheets[0].data[0].rowData.length; i++) 
               { 
                   if(response.result.sheets[0].data[0].rowData[i].values[0].effectiveFormat != undefined){
                   let r = response.result.sheets[0].data[0].rowData[i].values[0].effectiveFormat.backgroundColor.red;
                   let g =response.result.sheets[0].data[0].rowData[i].values[0].effectiveFormat.backgroundColor.green;
                   let b =response.result.sheets[0].data[0].rowData[i].values[0].effectiveFormat.backgroundColor.blue;
                  // let r = (response.result.sheets[0].data[0].rowData[i].values[0].effectiveFormat.backgroundColor.red*255).toFixed(0);
                  // let g = (response.result.sheets[0].data[0].rowData[i].values[0].effectiveFormat.backgroundColor.green*255).toFixed(0);
                  // let b = (response.result.sheets[0].data[0].rowData[i].values[0].effectiveFormat.backgroundColor.blue*255).toFixed(0);
                  //console.log(r + " " + g + " " + b);
                   if(r == 1 && g == undefined && b == undefined){
                       redState++;
                   }
                   if(r > 0.9 && r < 1 && g < 0.8 && b < 0.8){
                       redState++;

                   }
                   }
               }
                // console.log("Red " + redState);
             document.getElementById('redState').textContent=redState;
             document.getElementById('redBlock').style.display="block";
         })
                             
         }
         

         
       function listMajors() {
    document.getElementById("kimImage").src = "/img/kim1.png";
    let currentDate = new Date();
    //let newDate = ""
    let aDay = currentDate.getDate();
    let aMonth = (currentDate.getMonth() + 1).toString();
    let cYear = currentDate.getFullYear();
    let cDay = "";
    let cMonth = "";
    console.log(aDay.length);
    
    if (aDay < 10) {
        cDay = "0" + aDay;
    } else {
        cDay = aDay;
    }
    if (aMonth.length < 2) {
        cMonth = "0" + aMonth;
    } else {
        cMonth = aMonth;
    }
    console.log(cDay);
    todayDate = cDay + "." + cMonth + "." + cYear;
    console.log(todayDate);
    let todayCount = 0;
    let nonEligibleCount = 0;
    let totalCount = -1;
    document.getElementById('content').textContent = "";
    gapi.client.sheets.spreadsheets.values.get({
        spreadsheetId: '1T2cPs9d6i5tAerI-2NkMFS-n7fki6cGD1W4v-qTsKl8',
        range: todayDate

    }).then(function(response) {
        //response.sheets[0].data[0].rowData[0].values[0].effectiveFormat.backgroundColor.red
        //.getJSONArray("data").getJSONObject(0).getJSONArray("rowData");
        //  console.log(jObj.toString()); //All rows as an object

        //  for (int i = 0; i < jObj.length(); i++) {

        //jObj.getJSONObject(i).getJSONArray("values").getJSONObject(0).getJSONObject("effectiveFormat").
        //          getJSONObject("backgroundColor"));
        //}
//console.log(response);

        let range = response.result;
        if (range.values.length > 0) {
            for (i = 0; i < (range.values.length); i++) {

                
                let row = range.values[i];
                
                        if(typeof row == 'undefined'){
         //   console.log("undefined row");
        }
        else{
                
             //  console.log(row);
                if(typeof row == 'undefined' || typeof row[1] == 'undefined'){
                    totalCount++;
                }
                else{
                if (row[1].includes("done") || row[1].includes("Done")) {
                    todayCount++;
                    totalCount++;
                }
                else if (row[1].includes("Uno") || row[1].includes("uno")) {
                    nonEligibleCount++;
                }
                else if (row[1].includes("Heartcore") || row[1].includes("heartcore")) {
                    nonEligibleCount++;
                }
                else if (row[0] = "" || row[0] == null || row[0] == false || typeof row == 'undefined') {

                } else {
                    totalCount++;
                }}
            }}
            percent = (todayCount / totalCount) * 100;
            console.log(percent);
            let percentNonE = (todayCount / (totalCount - nonEligibleCount)) * 100;
            if (todayCount > previousRecord) {
                if (nonEligibleCount > 0) {

                    document.getElementById("nonEligibleRemark").textContent = "*If you take out Uno and Heartcore that would be " + percentNonE.toFixed(2) + "%";
                }
            //    console.log(previousRecord + " vs " + todayCount);
                let sound = new Howl({
                    src: ['/img/ping.wav']
                });
                sound.play();
                
                
                
                if (percent > 0 && percent < 5) {
                    document.getElementById("kimImage").src = "/img/kimultrasad.png";
                } else if (percent > 25 && percent < 50) {
                    document.getElementById("kimImage").src = "/img/kim2.png";
                } else if (percent >= 50 && percent < 75) {
                    document.getElementById("kimImage").src = "/img/kim4.png";
                } else if (percent >= 75) {
                    document.getElementById("kimImage").src = "/img/kim5.png";
                } else {
                    document.getElementById("kimImage").src = "/img/kim3.png";
                }

                if (percent >= 90) {
                    console.log("high goal hit");
                                    let soundCelebration = new Howl({
                    src: ['/img/this-is-how-we-do-it.mp3']
                });
                soundCelebration.play();
                spiceMustFlow();
                }

            }
            previousRecord = todayCount;
            appendItem1(todayCount);
            appendItem2(totalCount);

            appendItem3(percent.toFixed(2));
            let kimMeter = document.getElementById('kimMeter');
            let kimImg = document.getElementById('kimImage');
            kimMeter.style.width = percent + "%";
            kimImg.style.left = percent - 2 + "%";
            //checkTotal();
            checkBad();
        } else {
            appendPre('No data found.');
        }
    }, function(response) {
        appendPre('Error: ' + response.result.error.message);

    });
}
           
           
           
           
      </script>
      <script async defer src="https://apis.google.com/js/api.js"
         onload="this.onload=function(){};handleClientLoad()"
         onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>
   </section>
</div>