﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.WebinarType>
@using ContentModels = Umbraco.Web.PublishedModels;
@using CS.Controllers
@{
    Layout = "_Master.cshtml";
    var items = Model.Children();
    string logoUrl = "";
    if (Model != null)
    {
        var logo = Model.Root().Value<IPublishedContent>("bodyOverlay");
        if (logo == null)
        {

        }
        else
        {
            logoUrl = logo.Url();
        }
    }
    var wid = Model.Value("webinarid");
    string wtype = Model.Name();
    var occList = TempData["occurrenceList"] as List<Tuple<string, Tuple<string, DateTime>>>;
    var getStatus = Convert.ToString(Session["substatus"]);


    HttpPostedFile file = null;
    WebImage photo = null;
    var newFileName = "";
    var imagePath = "";

    if(IsPost){
        photo = WebImage.GetImageFromRequest();
        var target = file.InputStream;
        if(photo != null){
           // newFileName = Guid.NewGuid().ToString() + "_" +
            //Path.GetFileName(photo.FileName);
           // imagePath = @"\images\" + newFileName;
            photo.Save(@"~\excelProcessing\" + Path.GetFileName(photo.FileName));
            Html.Action("ProcessUploadedFile", "Home", new { file = photo });
        }
    }

    }
<div class="background-logo" style="background-color: #ffffff;padding-bottom: 2rem;padding-left: 2rem;padding-right: 2rem;padding-top: 2rem;background-image:url('@logoUrl')">
    <section class="main-container">

        <h1 style="text-align:center;">All generated webinars for @Model.Name()</h1>

        @foreach (var item in items)
        {
            <a href="@item.Url()">@item.Name()</a>
            <br />
        }

        <br />

        <h1 style="text-align:center;">Get previous webinar report</h1>

        <div style="display:flex;flex-direction:row;align-items:center;">
            <button class="coma-button" onclick="location.href='@Url.Action("GetAllOccurrences", "Home", new { target = wid, pageId = Model.Id })'">Get all instances for this webinar</button>
            <section class="message message-note">
                <div class="message-header">Note</div>
                <div class="message-divider message-divider-yellow"></div>
                <div class="message-body">
                    It might not be possible to generate a report for the past instance depending on whether registrants for it are available.
                </div>
            </section>
        </div>


        <h1 style="text-align:center;">Generate a report for webinar from an excel file</h1>
        <div style="text-align:center;">Note: this only supports reports generated from ZOOM website. Make sure the type of the webinar matches the page you are on.</div>
        <div style="text-align:center;color:red">DOES NOT WORK YET. DO NOT USE</div>
        <form action="" method="post" enctype="multipart/form-data" style="text-align:center;">
            <fieldset>
                <legend> Upload Image </legend>
                <label for="Image">Image</label>
                <input type="file" name="Image" />
                <br />
                <input type="submit" value="Upload" />
            </fieldset>
        </form>

    </section>
<div class="webinar-status-bar">
    <h2>@getStatus</h2>
</div>
@if (occList == null) { }
else
{
    foreach (var o in occList)
    {
        <div class="webinar-instance" onclick="location.href='@Url.Action("GetWebinarByOccurrence", "Home", new { target = wid, uuid = o.Item1, type = wtype, pageId = Model.Id, occurrence = o.Item2.Item1 })'">@o.Item2.Item2.ToString("MMMM dd, yyyy")</div>

    }
}
    
    </div>
