﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Webinar>
@using ContentModels = Umbraco.Web.PublishedModels;
@using CS.Controllers;
@{
    Layout = "_Master.cshtml";
    var items = Model.Value<IEnumerable<IPublishedElement>>("attendeeList");
    var totalCount = (Convert.ToDouble(items.Count()) / Model.Value<double>("signups")) * 100;
    var getStatus = Convert.ToString(Session["status"]);

    string logoUrl = "";
    if (Model != null)
    {
        var logo = Model.Root().Value<IPublishedContent>("bodyOverlay");
        if (logo == null)
        {

        }
        else
        {
            logoUrl = logo.Url();
        }

    } }
<div class="background-logo" style="background-color: #ffffff;padding-bottom: 2rem;padding-top: 2rem;background-image:url('@logoUrl')">
<section class="main-container-wide">
    
    <hr/>
<h1 style="text-align:center;">Webinar on @Model.Value("date")</h1>
<hr/>
<section class="stats-container">
<div>
<div><span class="ghost">Signups:</span> @Model.Value("signups")</div>
<div><span class="ghost">Showed up:</span> @items.Count()</div>
<div><span class="ghost">Attendance: </span><span id=attendanceNr>@totalCount %</span></div>
<div class="legend"><span class="signup-legend">█</span> signups</div>
<div class="legend"><span class="attendee-legend">█</span> attendees</div>
</div>
<div style="margin-left: 2rem">
<svg viewBox="0 0 32 32">
  <circle r="16" cx="16" cy="16" />
</svg>
</div>
<div class="hidephones" style="align-self:center;margin-left:auto;margin-right:0">Toggle phone number-only display <input type="checkbox" id="hidePhonesCheckbox" onclick="hideNoPhone()"></div>
</section>
<br/>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax bold">Name</th>
    <th class="tg-1lax bold">Email</th>
    <th class="tg-1lax bold">Minutes in session</th>
    <th class="tg-1lax bold">Phone</th>
    <th class="tg-1lax bold">Been called</th>
    <th class="tg-1lax bold">Do you use Umbraco?</th>
    <th class="tg-0lax bold">Can we email you?</th>
  </tr>

    @foreach(var item in items)
    {
    string appendCSS = "";
    if(String.IsNullOrEmpty(item.Value<string>("phone"))){
    appendCSS = "nophone";
    }
  <tr class="@appendCSS">
    <th class="tg-0lax">@item.Value("user_name")</th>
    <th class="tg-1lax">@item.Value("user_email")</th>
    <th class="tg-1lax">@(item.Value<int>("duration")/60)</th>
    <th class="tg-1lax empty">@item.Value("phone")</th>
    <th class="tg-1lax"><input type="checkbox"></th>
    @if(item.Value("doYouUseUmbraco").Equals("Yes")){<th class="tg-1lax tg-true-light bold">@item.Value("doYouUseUmbraco")</th>} else{<th class="tg-1lax tg-false-light bold">@item.Value("doYouUseUmbraco")</th>}
    @if(item.Value("canWeEmailYou").Equals("Yes")){<th class="tg-true bold">@item.Value("canWeEmailYou")</th>} else{<th class="tg-false bold">@item.Value("canWeEmailYou")</th>}
  </tr>
  
    }
</table>
<br/>
<hr/>
<h3>Do what COMA should be doing</h3>

<button class="coma-button" onclick = "location.href='@Url.Action("TransferDataToExcel", "Home", new { pageId = Model.Id })'">Send to the Excel sheet</button> 
<button class="coma-button" onclick = "location.href='@Url.Action("AddPeopleToExcel", "Home", new { pageId = Model.Id })'">Send to the Webinar Permissions list</button>

<h1>@getStatus</h1>
<hr/>
</section>

<section class="message message-guide">
    <div class="message-header">Guide</div>
    <div class="message-divider message-divider-green"></div>
    <div class="message-body">
        The "Been called" checkboxes do not preserve status on page leave. They are here just for you to check if you are doing webinar calling, and want to keep track of it.
    </div>
</section>

<section class="message message-note">
    <div class="message-header">Note</div>
    <div class="message-divider message-divider-yellow"></div>
    <div class="message-body">
        We are currently not keeping track of signups (registrants) - only the people who actually attended.
    </div>
</section>
    </div>
    
    <style>
        svg {
  width: 100px; height: 100px;
  transform: rotate(-90deg);
  background: #f5c1bb; 
  border-radius: 50%;
}

circle {
  fill: #1b264f; 
  stroke: #f5c1bb;
  stroke-width: 32;
  stroke-dasharray: @totalCount 100;
}
    </style>
    
<script type="text/javascript">
function hideNoPhone() {
    var checkBox = document.getElementById("hidePhonesCheckbox");
    var classes = document.querySelectorAll('.nophone'),
        i = 0,
        l = classes.length;

    if (checkBox.checked == true) {
        for (i; i < l; i++) {
            classes[i].style.display = 'none';
        }
    }
 else {
    for (i; i < l; i++) {
        classes[i].style.display = '';
    }
}
}

</script>