﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}
<link rel="stylesheet" href="/css/styles.css">
@* the fun starts here *@
@Html.Partial("Navigation")
<div class="mainbody">
    <div class="background-logo" style="background-color: #ffffff;padding-bottom: 2rem;padding-top: 2rem;">
        @RenderBody()
        </div>
    </div>
