﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "ErrorMaster.cshtml";
}
<section class="main-container">
    <br />
    <h1 style="text-align:center;">Webinar Tool Control Panel</h1>

    <div style="margin-top:4rem; text-align:center">
        <h1>Something might have gone wrong</h1>
        <h3>The data was sent to Excel but the date was initally set to January 01, 0001. The sad maintenance cat recommends giving it a check.</h3>
        <img style="position:absolute;bottom:0;right:0;width:300px" src="~/media/catengineer.png" />
    </div>
</section>