﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "ErrorMaster.cshtml";
}
    <section class="main-container">
        <br />
        <h1 style="text-align:center;">Webinar Tool Control Panel</h1>

        <div style="margin-top:4rem; text-align:center">
            <h1>Something might have gone wrong</h1>
            <h3>Registrants list is empty. Something might have happened with zoom webinar instance record. You will have to fill this report manually.</h3>
            <img style="position:absolute;bottom:0;left:0;width:300px" src="~/media/angery.png" />
        </div>
    </section>