﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "ErrorMaster.cshtml";
}
    <section class="main-container">
        <br />
        <h1 style="text-align:center;">Webinar Tool Control Panel</h1>

        <div style="margin-top:4rem; text-align:center">
            <h1>Something might have gone wrong</h1>
            <h3>Participants list is empty. Either no one attended, or Zoom has not yet archived that session. You can manually generate the report or try again tomorrow.</h3>
            <img style="position:absolute;bottom:0;left:0;width:300px" src="~/media/angery.png" />
        </div>
    </section>