﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "ErrorMaster.cshtml";
}
    <section class="main-container">
        <br />
        <h1 style="text-align:center;">Webinar Tool Control Panel</h1>

        <div style="margin-top:4rem; text-align:center">
            <h1>Something fucked up. The cat is angry.</h1>
            <h3>This report most likely exists. Check the sheet. Cats hate duplicate data.</h3>
            <img style="position:absolute;bottom:0;left:0;width:300px" src="~/media/angery.png" />
        </div>
    </section>