﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "ErrorMaster.cshtml";
}
    <section class="main-container">
        <br />
        <h1 style="text-align:center;">Webinar Tool Control Panel</h1>

        <div style="margin-top:4rem; text-align:center">
            <h1>Something has gone wrong</h1>
            <h3>There are not enough people to add to the Permissions sheet - seems like no one said "Yes" to "Can we email you".</h3>
            <img style="position:absolute;bottom:0;right:0;width:300px" src="~/media/catengineer.png" />
        </div>
    </section>